<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">Training Tracker</a></div>
  <div fxHide.xs fxLayout fxFlex fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/signup">Sign Up</a></li>
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Log In</a></li>
      <li *ngIf="isAuth$ | async"><a routerLink="/training">Training</a></li>
      <li *ngIf="isAuth$ | async"><a style="cursor: pointer" (click)="logout()">Log Out</a></li>
    </ul>
  </div>
</mat-toolbar>
